<form action="/approve" method="POST">
<center>
    <h2>WELCOME</h2>
   
    <select name="name">
        <% arr.forEach(function(school){ %>
            <option>
                <%= school.name %>
           <% }) %>
            </option>

        
        
    </select>
    <button type="submit">approve</button>
   
    
   
    </form>
</center>