<form action="/approve" method="POST">
<center>
    <h2>WELCOME</h2>
   
    <select name="name">
        <% arr.forEach(function(school){ %>
            <option>
                <%= school.name %>
           <% }) %>
            </option>
    </select>
   
        <input type="submit" value="Approve" name="name1">

        <input type="submit" value="Reject" name="name1">
    </form>
</center>