<h1>SCHOOL LOGIN</h1>

<form action="/school/login" method="POST">
<input type="text" name="email" placeholder="Email id">
<input type="text" name="password" placeholder="password">
<input type="submit" value="Login">
</form>
