<h1>School Register</h1>

<div style="display: inline-block;">
<form action="/school/reg" method="POST">
School Name: <input type="text" name="name"><br>
<label>Address</label>
<textarea name="address"></textarea><br>
Place :<input type="text" name="place"><br>
Phone Number :<input type="text" name="phone"><br>
Email id :<input type="text" name="email"><br>
Password :<input type="text" name="password"><br>
<input type="submit" value="Register">
</form>
</div>