<html>
        <body>
    
        
    
    <form method="post" action="/stdregadminview">
    
        <button type="submit" class="loginbtn">view</button>
        

      
      <!--</form>
      <form action="/relnview" method="POST">
          <button type="submit" class="loginbtn2">view relation</button>
      </form>-->
      
    
    </body>
    
    </html>