<html>
    <body>

    

<form method="post" action="/regi">


    
 
 <h1>REGISTRATION</h1><br><br>



    <label for="Name"><b>Name</b></label>
    <input type="text" placeholder="Name" name="name" required><br><br>


   

    <label for="Sex"><b>Sex</b></label>
    <input type="text" placeholder="Sex" name="sex" required><br><br>


   <label for="Address"><b>Address</b></label>
    <input type="text" placeholder="Address" name="address" required><br><br>

    <label for="Pasword"><b>Password</b></label>
    <input type="text" placeholder="Password" name="password" required><br><br>


    <label for="emailid"><b>emailid</b></label>
    <input type="text" placeholder="emailid" name="emailid" required><br><br>

    
   
    
    <button type="submit" class="registerbtn">Register</button>
  </div>
  </form>
  

</body>

</html>