<html>
        <body>
    
        
    
    <form method="post" action="/studlog">
    
    
        
     
     <h1>STUDENT LOGIN</h1><br><br>
    
    
    
        <label for="emailid"><b>emailid</b></label>
        <input type="text" placeholder="emailid" name="emailid" required><br><br>
    
    
     `
    
        <label for="Password"><b>Password</b></label>
        <input type="text" placeholder=" Password" name="password" required><br><br>
    
        
       
        
    
        <button type="submit" class="loginbtn">Login</button>
      </div>
      </form>
      
    
    </body>
    
    </html>