<h1>School Register</h1>

<table>
<form action="/school/reg" method="POST">
<tr>
    <td>School Name:</td>
    <td><input type="text" name="name"></td>
</tr> 

<tr>
    <td>Address :</td>
    <td><textarea name="address"></textarea></td>
</tr> 

<tr>
    <td>Place :</td>
    <td><input type="text" name="place"></td>
</tr>

<tr>
    <td>Phone Number :</td>
    <td><input type="text" name="phone"></td>
</tr>

<tr>
    <td>Email id :</td>
    <td><input type="text" name="email"></td>
</tr>

<tr>
    <td>Password :</td>
    <td><input type="text" name="password"></td>
</tr>

<tr>
    <td colspan="2" style="text-align: center;"><input type="submit" value="Register"></td>
</tr>


</form>
</table>